.site-header{
    background: #1bbc9b;
    color: #113411;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #113411 2px 5px 2px;
}

body{
    margin: 0;
}

.course-link{
    color: #113411;
}

.site-header-content{
    margin: 10px;
}